.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(74, 74, 248);
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  align-items: center;
}

.card_container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(216, 11, 11, 0.863);
}

.characterImage {
  display: block;
  width: 100%;
  border-radius: 50%;
  height: 100px;
  -webkit-transition: all 0.3s ease-in-out; 
  -ms-transition: all 0.3s ease-in-out; 
transition: all 0.3s ease-in-out; 
} 

.imageContainer:hover .characterImage {
  opacity: 0.4;
}
  
.imageContainer:hover .name {
  opacity: 1; 
}

.teams {
  width: 180px;
  color: black;
  
}

.nombre {
  color: rgb(6, 0, 0);
  
}
.fecha {
  color: black;
}

@media (min-width: 320px) {
  .card_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 480px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .card_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .card_container {
    grid-template-columns: repeat(5, 1fr);
  }
}
