.container {
	display: flex;
	height: 90vh;
	border-radius: 5px;
	
  }
.sidebar {
  width: 30%;
	color: rgb(24, 8, 63);
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid grey;
	border-radius: 5px;
	max-width: 600px;
	max-height: 500px;
	margin-left: auto; 
	margin-right: auto; 
  }
.main {
	width: 70%;
	color: rgb(255, 0, 0);
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid grey;
	border-radius: 5px;
	max-width: 800px;
	max-height: 500px;
	margin-left: auto; 
	margin-right: auto; 
}

.form {
	color: rgb(57, 17, 143);
	width: 700px;
	height: 400px;
	padding: 16px;
	border-radius: 10px;
	margin: auto;
	 margin-left: -22px; 
	background-position: 100% 0%;
	background-repeat: no-repeat;
	line-height: 10px;
}

form label {
  font-family: Arial, sans-serif; 
  font-size: 14px;
}

form input[type="text"] {
	width: 100px;
	padding: 3px 10px;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	background-color: #f6f6f6;
	margin: 12px 0;
	margin-right: -25px;
	display: inline-block;
	vertical-align: middle;
	
}

form input[type="submit"]:hover {
	cursor: pointer;
}

.characterImage {
  display: block;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  -webkit-transition: all 0.3s ease-in-out; 
  -ms-transition: all 0.3s ease-in-out; 
transition: all 0.3s ease-in-out; 
} 

.imageContainer:hover .characterImage {
  opacity: 0.4;
}
  
.imageContainer:hover .name {
  opacity: 1; 
}

.errorIcon {
	color: red;
	font-size: 16px;
	margin-left: 5px;
}

.validIcon {
	color: green;
	font-size: 16px;
	margin-left: 5px;
}

.imgIcon {
	
	font-size: 16px;
	margin-left: 5px;
}

.messageContainer {
	position: relative;
  }
  
.message {
	background: white;
	margin-left: 610px;
	margin-top: -100px;
	position: absolute;
	padding: 10px;
	width: 241px;
	height: 20px;
	border-radius: 10px;
	color: green;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
}
  
.btnIcono {
	position: relative;
  left: 0px;
  border-radius: 5px;
  border: solid #39ff14 1px;
  background: rgb(44, 46, 49);
  box-shadow: 0 0 20px 0 rgba(4,255,0,1);
  color: #39ff14;
  font-size: 10px;
  width: 70px;
	height: 50px;
  }

  .btnIcono1 {
		position: relative;
		border-radius: 5px;
		border: solid #39ff14 1px;
		background: rgb(44, 46, 49);
		box-shadow: 0 0 20px 0 rgba(4,255,0,1);
		color: #39ff14;
		font-size: 10px;
  	width: 70px;
		height: 50px;
		}
  .boton {
	width: 20px;
	height: 30px;
	margin-top: 10px;
	margin-right: 20px;
	
  }

.label1 {
	display: block; 
}

